<style>
  body {
    background-image: url("/background/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    .top-right-logo {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 80px;
      height: auto;
      z-index: 999;
    }
  }
</style>
<body>
  <%-include('../partials/_navbar.ejs')%>
  <img src="/logo/logo.png" class="top-right-logo" />
  <h1>
    advertisement for <%= advertisement.brand %> <%= advertisement.model %>
  </h1>
  <h2>Details</h2>
  <p>Price: $<%= advertisement.price %></p>
  <p>Mileage: <%= advertisement.mileage %> KM</p>
  <p>Location: <%= advertisement.location %></p>

  <p>Sale Mode: <%= advertisement.saleMode %></p>
  <p>Contact Number: <%= advertisement.contactNumber %></p>
  <h2>Owner</h2>
  <% if (advertisement.owner._id.equals(user._id)) { %>
  <p>You own this advertisement!</p>
  <a href="/advertisements/<%= advertisement._id %>/edit"
    >Edit this advertisement</a
  >
  <form
    action="/advertisements/<%= advertisement._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this advertisement</button>
  </form>

  <% } else { %>
  <p>You don't own this, <%= advertisement.owner.username %> does!</p>
  <% } %> <% if (advertisement.saleMode === 'bid') { %>
  <a href="/bids/<%= advertisement._id %>">Place/View Bids</a>
  <% } %>
</body>
