<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="index-header">
    <h1>All Advertisements</h1>
    <a href="/advertisements/new">Add Advertisement</a>
  </div>
  <div class="card-container">
    <% advertisements.forEach((advertisement)=> { %>
    <a href="/advertisements/<%= advertisement._id %>">
      <h4><%= advertisement.brand %></h4>
      <h4><%= advertisement.model %></h4>
      <h4><%= advertisement.price %></h4>
      <p>Category <%= advertisement.category.type %></p>
      <p>Owned by <%= advertisement.owner.username %></p>
    </a>
    <% }) %>
  </div>
</body>
