
<body>
<%-include('../partials/_navbar.ejs')%>

  <h1> advertisement for <%= advertisement.brand %> - <%= advertisement.model %></h1>
  <h2>Details</h2>
  <p>Price: $<%= advertisement.price %>  </p>
  <p>Mileage: $<%= advertisement.mileage %> KM </p>
  <p>Location: <%= advertisement.location %></p>
 <p>Category: <%= advertisement.category.type %></p>
  <p>Sale Mode: <%= advertisement.saleMode %></p>
   <p>Contact Number: <%= advertisement.contactNumber %></p>
   <h2>Owner</h2>
  <% if (advertisement.owner._id.equals(user._id)) { %>
    <p>You own this advertisement!</p>
    <a href="/advertisements/<%= advertisement._id %>/edit">Edit this advertisement</a>
    <form action="/advertisements/<%= advertisement._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this advertisement</button>
    </form>

  <% } else { %>
    <p>You don't own this, <%= advertisement.owner.username %> does!</p>
  <% } %>
</body>
